<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<br>
<br>

<body>
    <div class="container">
        <!-- Add Jumbotron to Header -->
        <div class="jumbotron text-center"
            style="background-image: url('https://wallpapercave.com/wp/wp2461878.jpg'); background-position: center; background-size: cover;height: 250px;">
            <h1 style="color:white">Mission to Mars</h1>
            <!-- Add a button to activate scraping script -->
            <p><a class="btn btn-danger btn-xs" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <!-- Mars News -->

        <div class="row" id="mars-news">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h2 class="text-center">Missives from the Red Planet</h2>
                        <h3 class="text-center">{{data['News from the Red Planet']}}</h3>
                        <p class="text-center">{{ data['News Summary']}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- NASA Image and Characteristics table -->
        <div class="row" id="mars-driving-image">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Out for a Sunday drive...</h2>
                <img style="margin: right 50px;"
                    src="https://mars.nasa.gov/layout/mars2020/images/PIA23764-RoverNamePlateonMars-web.jpg"
                    class="img-responsive" alt="Responsive image" />
            </div>

            <!-- Mars Characteristics -->
            <div class="table" id="mars-characteristics">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2 class="text-center">Mars Characteristics</h2>
                    <table class="text-center" align="center" style="height:250px">
                        <tr>
                            <td>
                                {{ data['Characteristics'] | safe }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- Mars Hemispheres Images-->
        <div class="row" id="mars-images">
            <div class="page-header">
                <h2 class="text-center">Mars Hemispheres</h2>
            </div>

            {% for hemisphere in data['Images'] %}
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="{{hemisphere.ImageURL | default('images/no_image', true)}}" alt="Responsive image"
                        class="img-responsive">
                    <div class="caption">
                        <h3>{{hemisphere.Title}}</h3>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
